openapi: "3.0.0"
info:
  version: 1.0.0
  title: Signature App API with Two-Factor Authentication
  description: API for signature management with comprehensive two-factor authentication
  license:
    name: MIT
servers:
  - url: https://api.signatureapp.com/v1
    description: Production server
  - url: https://staging-api.signatureapp.com/v1
    description: Staging server
paths:
  /auth/login:
    post:
      summary: Authenticate user
      description: Authenticate user with email/password and optional 2FA code
      operationId: login
      tags:
        - authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful or 2FA required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '423':
          description: Account locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/2fa/setup:
    post:
      summary: Set up two-factor authentication
      description: Initialize 2FA setup for a user
      operationId: setup2FA
      tags:
        - two-factor-auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorSetupRequest'
      responses:
        '200':
          description: 2FA setup initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFactorSetupResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/2fa/verify:
    post:
      summary: Verify two-factor authentication code
      description: Verify 2FA code and enable 2FA for user
      operationId: verify2FA
      tags:
        - two-factor-auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorVerifyRequest'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFactorVerifyResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      summary: Logout user
      description: Invalidate user session
      operationId: logout
      tags:
        - authentication
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /bootstrap:
    get:
      summary: Process image (legacy endpoint)
      description: Legacy endpoint for image processing
      operationId: processImage
      tags:
        - images
      parameters:
        - name: url
          in: query
          required: true
          description: URL of the image to process
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: Image processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ImageId:
                    type: string
                    description: Unique identifier for the processed image
        '500':
          description: Processing error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

paths:
  /pets:
    get:
      summary: List all pets
      operationId: listPets
      tags:
        - pets
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            maximum: 100
            format: int32
      responses:
        '200':
          description: A paged array of pets
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Pets"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a pet
      operationId: createPets
      tags:
        - pets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
        required: true
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /pets/{petId}:
    get:
      summary: Info for a specific pet
      operationId: showPetById
      tags:
        - pets
      parameters:
        - name: petId
          in: path
          required: true
          description: The id of the pet to retrieve
          schema:
            type: string
        - name: petAlias
          in: path
          required: false
          description: The alias of the pet to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pet"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User's email address
          example: user@example.com
        password:
          type: string
          format: password
          description: User's password
          example: SecurePassword123!
        two_factor_code:
          type: string
          pattern: '^[0-9]{6}$'
          description: Six-digit 2FA code (required if 2FA is enabled)
          example: "123456"
        remember_device:
          type: boolean
          description: Whether to remember this device for 30 days
          default: false

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether login was successful
        session_id:
          type: string
          description: Session identifier (if successful)
          example: "sess_1234567890_abcdef"
        user_id:
          type: string
          description: User identifier (if successful)
          example: "user_1234567890_abcdef"
        requires_2fa:
          type: boolean
          description: Whether 2FA verification is required
        error:
          type: string
          description: Error message (if unsuccessful)

    TwoFactorSetupRequest:
      type: object
      required:
        - method
      properties:
        method:
          type: string
          enum: [totp, sms, email]
          description: 2FA method to set up
          example: totp
        phone_number:
          type: string
          pattern: '^\+?[\d\s\-\(\)]{10,}$'
          description: Phone number (required for SMS method)
          example: "+1-555-123-4567"
        backup_email:
          type: string
          format: email
          description: Backup email (required for email method)
          example: backup@example.com

    TwoFactorSetupResponse:
      type: object
      properties:
        secret_key:
          type: string
          description: Base32-encoded secret key for TOTP
          example: "JBSWY3DPEHPK3PXP"
        qr_code_url:
          type: string
          format: uri
          description: QR code URL for authenticator apps
          example: "otpauth://totp/SignatureApp:user@example.com?secret=JBSWY3DPEHPK3PXP&issuer=SignatureApp"
        recovery_codes:
          type: array
          items:
            type: string
            pattern: '^[A-Z0-9]{8}$'
          description: Recovery codes for account recovery
          example: ["ABCD1234", "EFGH5678", "IJKL9012"]

    TwoFactorVerifyRequest:
      type: object
      required:
        - user_id
        - code
      properties:
        user_id:
          type: string
          description: User identifier
          example: "user_1234567890_abcdef"
        code:
          type: string
          pattern: '^[0-9A-Z]{6,8}$'
          description: 6-digit TOTP code or 8-character recovery code
          example: "123456"

    TwoFactorVerifyResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the code was valid
        error:
          type: string
          description: Error message (if invalid)

    User:
      type: object
      properties:
        id:
          type: string
          description: Unique user identifier
          example: "user_1234567890_abcdef"
        email:
          type: string
          format: email
          description: User's email address
          example: user@example.com
        display_name:
          type: string
          description: User's display name
          example: "John Doe"
        email_verified:
          type: boolean
          description: Whether email has been verified
        two_factor_enabled:
          type: boolean
          description: Whether 2FA is enabled
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
        last_login_at:
          type: string
          format: date-time
          description: Last login timestamp
        status:
          type: string
          enum: [active, suspended, pending_verification]
          description: Account status

    AuthenticationAttempt:
      type: object
      properties:
        id:
          type: string
          description: Unique attempt identifier
        user_id:
          type: string
          description: User identifier (if known)
        email:
          type: string
          format: email
          description: Email address used in attempt
        type:
          type: string
          enum: [login, two_factor, password_reset, account_recovery]
          description: Type of authentication attempt
        result:
          type: string
          enum: [success, failure, blocked, pending]
          description: Result of the attempt
        failure_reason:
          type: string
          enum: [invalid_credentials, invalid_2fa, account_locked, account_suspended, rate_limited, invalid_recovery_code]
          description: Reason for failure (if applicable)
        attempted_at:
          type: string
          format: date-time
          description: Timestamp of the attempt
        ip_address:
          type: string
          format: ipv4
          description: IP address of the attempt
        user_agent:
          type: string
          description: User agent string
        risk_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Risk score (0-100)
        suspicious:
          type: boolean
          description: Whether the attempt was flagged as suspicious

    Pet:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Pets:
      type: array
      maxItems: 100
      items:
        $ref: "#/components/schemas/Pet"
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
